<div class="course-card" *ngIf="todo" #container>

  <div class="course-title">
    {{ todo.title }}
  </div>

  <ng-content select="div"></ng-content>


  <div class="course-description">

    Edit Title: <input #inputTitle [value]="todo.title">

  </div>

  <!-- <div class="course-category" [ngSwitch]="course.category">

    <div class="category" *ngSwitchCase="'BEGINNER'">Beginner</div>

    <div class="category" *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>

    <div class="category" *ngSwitchCase="'ADVANCED'">Advanced</div>

  </div> -->

  <button (click)="onSaveClicked(inputTitle.value)">Save Todo</button>

</div>






