<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<!-- Basics -->
<div>
  <div class="demo">
    <div>Start Date: {{startDate | date:'MMM/dd/yyyy' }}</div>
  </div>

  <button (click)="onCoursesEdited()">Edit Courses</button>

  <!-- <div class="courses"
    *ngFor="let course of coursesList;
      index as i;
      count as count
      first as isFirst;
      last as isLast;
      even as even;
      odd as odd">

    <course-card [index]="i" [count]="count"
    [course]="course"
    (courseSelected)="onCourseSelected($event)"
    [class.is-first]="isFirst"
    [class.is-last]="isLast"
    [class.is-even]="even"
    [class.is-odd]="odd"></course-card>

  </div> -->

  <div class="courses" #cardContainer>
    @for (course of coursesList; track course.id;
    let index = $index;
    let count =  $count;
    let first = $first;
    let last = $last;
    let even = $even;
    let odd = $odd;) {

    <course-card
      [index]="$index"
      [count]="count"
      [course]="course"
      (courseSelected)="onCourseSelected($event)"
      [class.is-first]="first"
      [class.is-last]="last"
      [class.is-even]="even"
      [class.is-odd]="odd"
    ></course-card>
    }
    @empty {
    <p>No courses found.</p>
    }
  </div>
</div>

<!----- Content Projection : ng-content---------->
<div>
  <content-projection>
    <h1 #projectionHeader>This is a projection content</h1>

    <!-- same template reference used for both divs to get the ContentChildren-->
    <div #myDivs class="course-class1">
      <p>Class 1</p>
    </div>
    <div #myDivs class="course-class2">
      <p>Class 2</p>
    </div>

    <!--provide name for projection-->
    <h1 ngProjectAs="card-title"></h1>

    <h3>Remaining content projection: </h3> <textarea></textarea>
  </content-projection>
</div>

<!---- Ng Template --------->
<div>
  <h1>NG Templates</h1>

  <ng-template #blankImageTemplate
    let-courseName="description"
    let-courseImg="iconUrl">
    <h3>Course Name: {{ courseName }}</h3>
    <img [src]="courseImg">
  </ng-template>

  <!-- provide context object to be used within the template-->
  <ng-container *ngTemplateOutlet="blankImageTemplate; context: coursesList[0]"></ng-container>

  <!--passing template as input to a component-->
  <ng-template #inputTempl>
    <div style="background-color: darkgrey;">
      <h3>Header Template</h3>
      <p>This is a template used within a component</p>
    </div>
  </ng-template>

  <temp-within-comp [noImgTempl]="inputTempl"></temp-within-comp>
</div>
